.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 10px;

  font-weight: bold;
  width: 100%;

  color: #000000;
}

.footer__logo {
  margin: 0 10px;
}

.footer__link {
  color: inherit;
  text-decoration: inherit;
  margin: 0 10px;
}
